<?xml version="1.0" encoding="UTF-8"?>

<konfiguracija>
    <postaja>
        <naziv>Slavonski Brod 2</naziv>
        <oznaka_azo>RH0113</oznaka_azo>
        <oznaka_dhmz>SLBR2</oznaka_dhmz>
    </postaja>
    <webservis>
        <wsdl-url>http://localhost:9090/PrihvatSirovihPodataka/PrihvatSirovihPodataka?wsdl</wsdl-url>
        <qname>
            <namespace-uri>http://webservis.skz.dhz/</namespace-uri>
            <lokalni-port>PrihvatSirovihPodataka</lokalni-port>
            <!-- <prefix></prefix> -->
        </qname>
    </webservis>
    <datoteke>
        <datoteka oznaka="A" izvorid="1" csheduler="cron">
            <cron-string>3 * * * *<cron-string>
            <putanja rotacija="true">
                <generator-klasa>klijentnapostaji.citac.filelistgeneratori.MLULoggerFileListGenerator</generator-klasa>
                <element>1</element>
                <element>2</element>
                <element>3</element>
                <element>4</element>
                <direktorij>/home/kraljevic/tmp</direktorij>
            </putanja>
            <separator>;</separator>
            <vrijeme>
                <format>yyyy-MM-dd HH:mm:ss</format>
                <zona>UTC</zona>
                <stupac>0</stupac>
                <stupac>1</stupac>
            </vrijeme>
        </datoteka>
        <datoteka oznaka="B" izvorid="1" csheduler="fixed">
            <schedule interval="10" jedinica="minuta" />
            <putanja rotacija="true">
                <generator-klasa>klijentnapostaji.citac.filelistgeneratori.MLULoggerFileListGenerator</generator-klasa>
                <element>1</element>
                <element>2</element>
                <element>3</element>
                <element>4</element>
                <direktorij>/home/kraljevic/tmp</direktorij>
            </putanja>
            <separator>;</separator>
            <vrijeme>
                <format>yyyy-MM-dd HH:mm:ss</format>
                <zona>UTC</zona>
                <stupac>0</stupac>
                <stupac>1</stupac>
            </vrijeme>
        </datoteka>

    </datoteke>
    <izvori>
        <izvor id="1">
            <vrsta>MLULogger</vrsta>
            <oznaka>AH2G_00219</oznaka>
        </izvor>
    </izvori>
</konfiguracija>
