<?xml version="1.0" encoding="ISO-8859-1" ?>
<konfiguracija>
    <postaja>sbrod2</postaja>
    <webservis>nema</webservis>
	<izvor vrsta="MLULogger" oznaka="AH2G_00219">
		<datoteka dirname="/home/kraljevic/tmp/" rotacija="true" separator=";">
			<vrijeme format="yyyy-MM-dd HH:mm:ss" time_zone="UTC">
				<stupac>0</stupac>
			</vrijeme>
		</datoteka>
        <datoteka dirname="/home/kraljevic/tmp/" name="pj.csv" separator="," rotacija="false">
            <vrijeme format="dd/MM/yyyy HH:mm z" >
				<stupac>0</stupac>
				<stupac>1</stupac>
				<stupac>39</stupac>
			</vrijeme>
		</datoteka>
	</izvor>
</konfiguracija>
